[2014-07-29 05:47] v998 opened #1 "make test error on 1.0.1-chacha"
ALL TESTS SUCCESSFUL.
../util/shlib_wrap.sh ./heartbeat_test
Test ChaCha20
../util/shlib_wrap.sh ./chachatest
PASS
Test Poly1305
../util/shlib_wrap.sh ./poly1305test
PASS
make[1]: **\* No rule to make target `chacha20_poly1305_tests.txt', needed by`test_aead'.  Stop.
make[1]: Leaving directory `/root/openssl/test'
make: **\* [tests] Error 2
[root@vda2 openssl]#

[2014-07-29 11:47] #1 closed, assigned to nobody

[2014-10-07 14:47] v998 opened #2 "Update the 1.0.2-chacha?"
The OpenSSL team has realeased OpenSSL version 1.0.2 beta 3 on Sep 25.

As the Openssl is quite important to the system security, would you please update it?

Thank you very much. :)

[2014-10-14 16:01] #2 closed, assigned to nobody

[2014-11-09 14:13] tomato42 opened #3 "[RFE] - checkhost missing"
I've noticed that the version in 1.0.2-chacha branch doesn't include the patches that implement the `-checkhost` option to s_client, even though it is listed in `-help` message. Could you look into it?

[2014-11-10 18:14] #3 closed, assigned to nobody

[2015-01-28 05:54] splitice opened #4 "1.0.2 is stable now :)"
1.0.2 is stable now :)

Any chance you could merge with OpenSSL_1_0_2-stable ?

[2015-01-28 08:51] centminmod commented on #4
+1 for that

waves at @splitice

[2015-01-28 09:12] drwetter commented on #4
joining the crowd with +1 :-)

[2015-01-28 11:33] v998 commented on #4
:+1:  :)

[2015-01-28 12:59] PeterMosmans commented on #4
Hi @splitice , @centminmod , @drwetter , @v998

Thanks for the posts, good to see that the fork is actually *useful*  :)
I'm already working on the merges, but due to the giant source code reformat these merges are long and plentiful. As there are plenty of opportunities for bugs to creep in I'd like to handle the merges with care, which takes time.

Please hang on, and the end result will be near

[2015-01-28 13:05] splitice commented on #4
@PeterMosmans Awesome.

I am well aware of complexities of what you are doing. Its the main reason I am leaving it to an expert like yourself :)

Take your time. I am happy to help test when you are done.

[2015-02-02 12:40] PeterMosmans commented on #4
Please note that I'm still working on it but it is a *lot* (and I do mean a *lot* of work). Personally I don't see the advantages (yet) of this huge source code reformat. If it was refactoring, bugfixing or enhancements - yes. But changing whitespaces and brackets around, thereby increasing the chance of errors...
Let's hope this improves the future and maintainability if the OpenSSL codebase.

I'

[2015-02-02 21:16] centminmod commented on #4
Thanks @PeterMosmans much appreciated :)

[2015-02-04 11:34] PeterMosmans commented on #4
Hurrah! A few days (and a lot of merging and testing) later it's here! Please find the latest working build at https://github.com/PeterMosmans/openssl/commit/56fc479407ed6291de82130aa425601f4fc99f02
This build passes all tests, but as always with OpenSSL I'm not convinced that the tests cover everything. It should be as least as bugfree as the original :)

Enjoy!

[2015-02-04 11:34] #4 closed

[2015-02-05 09:07] drwetter commented on #4
Thx a lot, Peter! Compiled it for Linux (https://github.com/drwetter/testssl.sh/tree/master/openssl-bins/openssl-1.0.2-chacha.pm). 4 more ciphers also.

[2015-02-05 09:32] drwetter opened #5 "40 Bit and export ciphers throw a handshake error"
Hi Peter,

I thought this is a better place maybe others can contribute/help resolving:

    prompt$ ./openssl64-1.0.2pm-krb5.chacha+poly s_client -cipher EXPORT -connect rechnung.dsl.o2online.de:443 -servername rechnung.dsl.o2online.de </dev/null
    CONNECTED(00000003)
    depth=2 C = US, O = "VeriSign, Inc.", OU = VeriSign Trust Network, OU = "(c) 2006 VeriSign, Inc. - For authorized use only",

[2015-02-05 09:43] PeterMosmans commented on #5
Hi Dirk @drwetter, thanks for reporting this issue. I can reproduce the error (unfortunately).
Connecting succeeds when using the -ssl3 flag, so I'm guessing that it's a fallback/downgrade issue.
I will look into it, although this probably will take me a while (think in weeks, not days). Hopefully that's not going to be a problem for you...

Cheers,

Peter

[2015-02-05 11:24] drwetter commented on #5
Hi Peter,

thx! If I'll can spare a few cycles next week I'll look what changed in  t1_enc.c . Maybe that gives us a clue. Thx for all your work!

Cheers, Dirk

[2015-02-05 11:45] PeterMosmans commented on #5
I just checked an older build (95b3228) from November 23rd 2014, and it has the same issue. So it seems that the bug isn't introduced in this version. Do you know which version of the 1.0.2-chacha branch has NOT got this bug ? That would help in tracking this issue down...

Thanks!

Peter

[2015-02-05 13:23] drwetter commented on #5
It's also in the build before July (OpenSSL 1.0.2-chacha (beta2-dev)), see https://github.com/drwetter/testssl.sh/issues/38

[2015-02-07 09:04] eakraly opened #6 ""openssl speed chacha20-poly1305" gives empty result"
Looks like the code that should actually execute the speed test is missing.

[2015-02-07 11:29] PeterMosmans commented on #6
Thanks for posting the bugreport. I'm going to look into it.

[2015-02-08 08:36] PeterMosmans commented on #6
Fixed in https://github.com/PeterMosmans/openssl/commit/d7e8153a5593c90bf45777d185a380ad816fe7cb
Thanks once again for taking the time to post this bugreport!

[2015-02-08 08:36] #6 closed

[2015-02-09 16:05] drwetter commented on #5
No real understanding about the sources. but...

In your tree tree the code with the hiccup (t1_enc.c:652) is some kind of an addon against the vanilla tree --  fucntion "int tls1_change_cipher_state()". See attached the side-by-side-view (vim -d, left: vanilla 1.0.2 stable, right: yours).
![untitled](https://cloud.githubusercontent.com/assets/8036727/6109769/8d68c71a-b07d-11e4-978f-074f8692953e.p

[2015-02-10 13:18] drwetter opened #7 "Assembler error under Ubuntu 12.04 LTS ./ Debian wheezy"
Hi Peter,

I got the following error while compiling:

    gcc -I.. -I../.. -I../modes -I../asn1 -I../evp -I../../include  -DZLIB -DOPENSSL_THREADS   -D_REENTRANT -DDSO_DLFCN -DHAVE_DLFCN_H -static -Wa,--noexecstack -m64 -DL_ENDIAN -DTERMIO -O3 -Wall -DOPENSSL_EXPERIMENTAL_JPAKE -DOPENSSL_IA32_SSE2 -DOPENSSL_BN_ASM_MONT -DOPENSSL_BN_ASM_MONT5 -DOPENSSL_BN_ASM_GF2m -DSHA1_ASM -DSHA256_ASM -DSHA512_

[2015-02-16 09:59] PeterMosmans commented on #7
Thanks for reporting, I'm going to look into it.

[2015-02-16 10:00] PeterMosmans commented on #5
Thanks for the diffs. I'm on it...

[2015-02-16 10:32] PeterMosmans commented on #5
See above referenced commit (https://github.com/PeterMosmans/openssl/commit/005d8364d789d5a8eef0e6c3eb2af7b06b4116e6) where the issue is fixed.
Please note that the TLS handling still isn't completely merged with the official 1.0.2 branch. I'll do this in a later stage

[2015-02-16 10:32] #5 closed

[2015-02-20 21:32] drwetter commented on #5
Thx! Looked good so far. :) Will do more tests on 64 bit.

[2015-02-21 09:44] drwetter commented on #5
Thx a lot, Peter.

[2015-02-22 09:45] PeterMosmans commented on #7
Hi @drwetter ,
The assembly file you mention is generated automatically by https://github.com/PeterMosmans/openssl/blob/1.0.2-chacha/crypto/ec/asm/ecp_nistz256-x86_64.pl which is the same as the vanilla one ?
Did you perform a make dclean; make clean before building ?

Cheers,

Peter

[2015-02-22 11:52] drwetter commented on #7
Hi @PeterMosmans,

thx for getting back on this. Just to make sure I just did a make dclean on the existing tree, also a fresh clone of the repository. Unfortunately with the same result.

    [..]
    gcc -I.. -I../.. -I../modes -I../asn1 -I../evp -I../../include  -DZLIB -DOPENSSL_THREADS -D_REENTRANT -DDSO_DLFCN -DHAVE_DLFCN_H -static -Wa,--noexecstack -m64 -DL_ENDIAN -DTERMIO -O3 -Wall -DOPENSS

[2015-02-23 00:21] PeterMosmans commented on #7
Hmmm, this could be due to several factors. Really weird that this part gives discrepancies, as I'm not touching/modifying assembly at all.
I added the bug label, but I'm going to put it on the backburner and give other issues priority. If I wait another 2 months then your distro is unsupported :) (kidding)

[2015-02-23 09:49] drwetter commented on #7
not 2 months, but two years  ;-) -- at least as Ubuntu 12.04 is concerned

I need to use older distributions because of backwards compatibilty.  If supply binaries compiled under a recent distro they don't run under older ones. Ubuntu LTS is a good choice for this.

[2015-03-07 17:05] eakraly opened #8 "Fails to build on Win32 using MSVC compiler"
The reason seams to be ssize_t used in files related to chacha20poly1305 and aead in general - ssize_t is not defined in MSVC (and is not a type defined in standard). I think following comment in CHANGES might be related to this:
  *) Use type ossl_ssize_t instad of ssize_t which isn't available on
     all platforms. Move ssize_t definition from e_os.h to the public
     header file e_os2.h as it

[2015-03-08 08:22] #8 closed

[2015-03-08 08:23] PeterMosmans commented on #8
Thanks for reporting this issue.
ssize_t is indeed a POSIX type definition and not pure C. Personally I'm using msys2/mingw most of the time when testing the build process on Windows, which

Could you test the latest release (efe0953e9b55365a213227bf4b38084bda595c4d) ?

I'm working on a build - it would be great i

[2015-03-08 10:29] eakraly commented on #8
There is one more related issue - SSIZE_MAX which is defined for ssize_t

[2015-03-09 04:05] PeterMosmans commented on #8
Thanks for your feedback, commit abdfd1f251cb425093e337630fa2b19da5aa4900 should fix it.
I defined SSIZE_MAX as INT_MAX, which is way too low for a proper 64 architecture. If you look at the code however the values in size_t will be equal or lower, so I don't expect any issues there on MSVC.

[2015-03-09 09:28] PeterMosmans opened #9 "speed app doesn't work as expected with individual options (eg. ghash, sha256)"
To do: check speed code

[2015-03-10 04:07] #9 closed

[2015-03-10 07:34] PeterMosmans commented on #7
Hi @drwetter , could you test the latest (1f68654) build ? I took the time to compare the vanilla 1.0.2 version with the chacha branch and found a minor difference in one assembly file...

Thanks!

[2015-03-10 16:25] drwetter commented on #7
Am 10. März 2015 11:34:53 GMT+04:00, schrieb Peter Mosmans <notifications@github.com>:

Thx, Peter. Will do but give me a few days.

Cheers, Dirk

[2015-03-12 12:45] PeterMosmans opened #10 "align ChaCha20/Poly1305 with BoringSSL sourcecode"
A few improvements have been made in the ChaCha20/Poly1305 sourcefiles since Google 'forked' OpenSSL (BoringSSL).
TODO: merge these improvements into the current codebase

[2015-03-14 18:43] drwetter commented on #7
78afc5dbe1cd0033ebd8afbc372ada005be315b2 works! Thx, Peter.

[2015-03-14 18:43] #7 closed

[2015-03-19 02:45] splitice opened #11 "Heads Up 1.0.2a"
Heads up. There are forthcoming security updates for OpenSSL today/tomorrow.

https://mta.openssl.org/pipermail/openssl-announce/2015-March/000020.html

[2015-03-19 02:57] centminmod commented on #11
indeed @splitice :+1:

[2015-03-19 04:02] PeterMosmans commented on #11
I'm watching the official repository closely. As one of OpenSSL's head honchos Matt Caswell stated yesterday (March 18th):

I'm going to push the most recent merged patches now, and as soon as the vulnerability patches are out I'll merge, test and push them. To notify you I will keep this issue open until these patches are pushed.

[2015-03-19 04:05] splitice commented on #11
Thanks for your hard work. I was not aware of the time of release and have noted it it myself.

[2015-03-19 14:50] PeterMosmans commented on #11
Merged like a breeze, please enjoy release 95044c33d6c090f4970ed8e78172fbc0bf5e1451

Cheers,

Peter

[2015-03-19 14:50] #11 closed

[2015-03-19 15:23] splitice commented on #11
Thank you for your continued hard work +1

[2015-03-19 15:26] DomT4 commented on #11
Awesome! Thanks Peter :+1:

[2015-03-23 03:19] PeterMosmans opened #12 "DTLS doesn't play nice with CHACHA20-POLY1305 ciphers"
It seems impossible to connect a openssl client to an openssl server when using DTLS1(.2) and a CHACHA20-POLY1305 cipher.
Investigate what's going on.

Server side:
` ./openssl s_server -key CA.key -cert CA.crt -accept 4433 -dtls1_2 -cipher ECDHE-RSA-CHACHA20-POLY1305`

Client side:
`./openssl s_client -connect 127.0.0.1:4433 -dtls1_2 -cipher ECDHE-RSA-CHACHA20-POLY1305
Loading 'screen' into rando

[2015-03-27 14:19] jvehent opened #13 "ticket hints fail with ECDHE-RSA-AES256-SHA384"
I noticed a strange behavior in cipherscan's output: ticket hints always fail with cipher ECDHE-RSA-AES256-SHA384 since I upgraded the openssl binary last week. It may be an error in the build options I used, or a bug in upstream openssl. I figured I'd file here first for verification before escalating to openssl.

Custom build with AES128-SHA: ticket lifetime found
[code]
Custom build with ECDHE-

[2015-03-27 22:17] jvehent commented on #13
I tried to rebuild openssl with `./config && make depend && make` and the same problem occur. I'm going to try with upstream openssl next.

[2015-03-27 22:32] jvehent commented on #13
Upstream openssl doesn't have the issue. Testing with both the latest from master and the latest from 1.0.2.

[code]

[2015-03-27 23:49] PeterMosmans commented on #13
@jvehent , thanks for reporting this issue. I'm going to look into it.

[2015-03-28 10:37] PeterMosmans commented on #13
Bug confirmed - it has to do with non-standard AEAD code. I'm in the process of removing those parts, as they are difficult and error-prone to maintain. This will take some while.
Currently I'm testing a workaround for the issue

[2015-03-28 11:31] #13 closed

[2015-03-28 11:32] PeterMosmans commented on #13
@jvehent , could you test the latest build (0611a8416a2dfd04dc343e0d3754ff6e89bdccb3 ) ? Sorry for the inconvenience. Later on I will remove all non-standard AEAD code.

[2015-03-28 11:33] PeterMosmans opened #14 "Remove legacy AEAD code"

[2015-04-07 02:02] PeterMosmans commented on #12
Deferred for now - disabled DTLS for ChaCha20/Poly1305

[2015-04-08 11:44] PeterMosmans opened #15 "Discrepancy in ChaCha20/Poly1305 error codes"
/usr/bin/perl.exe util/ck_errf.pl -strict */*.c */*/*.c
ssl/t1_enc.c:504:tls1_change_cipher_state_cipher:tls1_change_cipher_state
crypto/evp/e_chacha20poly1305.c:215:aead_chacha20_poly1305_open:aead_chacha20_poly1305_seal
crypto/evp/evp_aead.c:140:evp_aead_ctx_seal:aead_ctx_seal
crypto/evp/evp_aead.c:145:evp_aead_ctx_seal:aead_ctx_seal
crypto/evp/evp_aead.c:170:evp_aead_ctx_open:aead_ctx_open
cryp

[2015-04-08 12:18] #15 closed

[2015-04-28 19:34] raybondo opened #16 "win32 version doesn't build with VC"
Missing chacha and poly1305 in util/mkfiles.pl is causing the chacha.h and poly1305.h files to not get copied into the openssl include directory.

[2015-04-28 19:37] raybondo opened #17 "Arm version does not compile"
https://github.com/PeterMosmans/openssl/blob/1.0.2-chacha/crypto/evp/e_aes.c#L1279
Line 1279 of crypto/evp/e_aes.c has unknown values as the first to arguments to the call to CRYPTO_gcm128_init.

[2015-04-28 20:20] raybondo opened #18 "Wrong configure line for mips64_asm"
The line for mips64_asm has an incorrect number of colons.
It is currently
my $mips64_asm=":bn-mips.o mips-mont.o::aes_cbc.o aes-mips.o:::sha1-mips.o sha256-mips.o sha512-mips.o::::::::::";

but should be
my $mips64_asm=":bn-mips.o mips-mont.o:::aes_cbc.o aes-mips.o:::sha1-mips.o sha256-mips.o sha512-mips.o::::::::::";

There's a missing colon between the mips-mont.o and aes_cbc.o.
This was causin

[2015-04-28 23:36] #16 closed

[2015-04-28 23:36] PeterMosmans commented on #16
Thanks for taking the time to report this issue @raybondo.
Fixed in build 114add4603dc77b3bc27c20b71413ee40693bbaf

[2015-04-29 00:02] PeterMosmans commented on #18
Thanks for reporting this issue @raybondo, much appreciated. I found other discrepancies as well when running a fresh `make TABLE`. I'm working on it...

[2015-04-29 01:23] #18 closed

[2015-04-29 02:10] #17 closed

[2015-04-29 02:26] PeterMosmans commented on #17
Thanks for this bugreport as well @raybondo , and please let me know if this fix works on an ARM architecture. Personally I don't test on that environment (as you probably found out :) )

[2015-05-04 19:37] raybondo commented on #17
Yep, it does work on the different Android ARM devices I've tested so far.
Thanks for the library and quick fixes.

On Tue, Apr 28, 2015 at 9:26 PM, Peter Mosmans <notifications@github.com>
wrote:

[2015-05-06 22:32] drwetter opened #19 "failed handshake"
Hi Peter,

a problem which bites my testssl.sh (first example is openssl from a Linux distro, second yours:

    prompt% openssl s_client -connect rechnung.dsl.o2online.de:443 -servername rechnung.dsl.o2online.de
     CONNECTED(00000003)
     depth=3 C = US, O = "VeriSign, Inc.", OU = Class 3 Public Primary Certification Authority
     [..]
     Server certificate
     -----BEGIN CERTIFICATE-----

[2015-05-06 23:21] drwetter commented on #19
Update: here's another IIS6 which has the same problem with the difference that  openssl provided doesn't work either: `mercernet.fr`

But still I am wondering about  the difference above

[2015-05-07 05:18] PeterMosmans commented on #19
Hi @drwetter ,
Question: which build (commit) of 1.0.2-chacha do you use ?
This was an issue quite some commits (and time) ago. If I check I get the correct result:

echo Q| openssl s_client -connect rechnung.dsl
.o2online.de:443 -servername rechnung.dsl.o2online.de && echo $?
CONNECTED(00000003)
depth=2 C = US, O = "VeriSign, Inc.", OU = VeriSign Trust Network, OU = "(c) 200
6 VeriSign, Inc. - Fo

[2015-05-07 05:43] drwetter commented on #19
Hi Peter,

Am 7. Mai 2015 07:18:13 MESZ, schrieb Peter Mosmans <notifications@github.com>:

Oh, ok! Sorry I missed that. Need to make new binaries then. Thx!

How is the other IIS6 server doing with your release?

The stupid thing is that testssl.sh needs a lot of workarounds -- only for broken IIS6/SChannel.

Cheers, Dirk

[2015-05-07 05:49] PeterMosmans commented on #19
Dirk,

This seems like an issue with the server. My guess is a Cisco ASA SSL offloader of some kind.
[code]

And with openssl-1.0.2-chacha:

[code]

Ha! Same line number! :)

[2015-05-07 06:54] drwetter commented on #19
:)

The guess with the ASA I'll like to research later (shodan). It would save me the workarounds -- did already some last night.

[2015-05-07 09:44] PeterMosmans commented on #19
It's more of a non-friendly way of the openssl binary to tell you that the handshake failed, as in: I think that an application should be able to handle this. You can always 2>/dev/null and check the result value ($?)

"Handy" (cough) oneliner to test multiple openssl binaries and sites:
[code]

[2015-05-07 10:47] drwetter commented on #19
Hi Peter,

Am 05/07/2015 um 11:44 AM schrieb Peter Mosmans:

nah, it's not that easy.

1) s_client -connect mercernet.fr seems to not work at all without specifying a protocol,
independent of the
   binary. Not sure yet whether it should be treated like "exception, don't care"

2) two binaries is a mess to recode and also I am afraid on side effects.
   I have currently over 100 instances in tests

[2015-05-10 22:11] drwetter commented on #19
HI Peter,

compiled new binaries but it's still the same:

First the one from the system:

    prompt% echo Q| /usr/bin/openssl  s_client -connect rechnung.dsl.o2online.de:443 -servername rechnung.dsl.o2online.de &>/dev/null ; echo $?
    0
    prompt% openssl64-1.0.2pm-static.chacha+poly version -a
    OpenSSL 1.0.2-chacha (1.0.2b-dev)
    built on: reproducible build, date unspecified
    platfo

[2015-05-11 12:03] PeterMosmans commented on #19
Hi Dirk,
Have you checked the output of a vanilla 1.0.2 build versus 1.0.1, to make sure it's not version (1.0.1 versus 1.0.2) related ?
If not, please let me know, then I'll do this myself.

Cheers,

Peter

[2015-05-11 12:55] drwetter commented on #19
Hi Peter,

thx, I have a script which configures and provides in the end a tested binary.

Here's the result:

    me@myhost:~/openssl  echo Q| openssl-1.0.1m/apps/openssl  s_client -connect rechnung.dsl.o2online.de:443 -servername rechnung.dsl.o2online.de &>/dev/null ; echo $?
    0
    me@myhost:~/openssl  echo Q| openssl-1.0.2/apps/openssl  s_client -connect rechnung.dsl.o2online.de:443 -server

[2015-05-11 22:45] PeterMosmans commented on #19
I'm glad that the 1.0.2-chacha code shows the same result as the vanilla build :)
It could be a number of reasons, eg. the increase in ciphers. In the next week or so I will be doing some tests with my test_ssl_handshake script, to see if I can find the culprit.
However, I'm going to close this issue if you don't mind, as it is not 1.0.2-chacha related.

[2015-05-11 22:45] #19 closed

[2015-05-12 07:51] drwetter commented on #19
Sure. Still I am scratching my head because of this change, any clues?

[2015-05-24 14:03] tomato42 opened #20 "GOST ciphers not available when built on Linux"
I've built openssl using the 24d8376b27ea commit, and I'm unable to enable the GOST ciphers.

I've built it like this:
[code]

Unfortunately, openssl doesn't report the ciphers as enabled/available:
[code]

[2015-05-24 14:29] tomato42 commented on #20
ok, I think I've got it

it's necessary to add `--openssldir=./` to `./Configure`, and then create in CWD `openssl.cnf` file with following contents:
[code]

Could you add this to README?

[2015-05-24 14:32] drwetter commented on #20
Am 24. Mai 2015 16:03:46 MESZ, schrieb Hubert Kario <notifications@github.com>:

GOST  support comes via engine. You need to write a config file for it and e.g load it via OPENSSL_CNF=myconfigfile. See e.g code of testssl.sh .

B, Dirk

[2015-05-24 14:35] tomato42 commented on #20
ah, yeah, the `OPENSSL_CNF` may be an even better workaround, thanks @drwetter !

[2015-05-25 18:35] PeterMosmans commented on #20
Thanks @tomato42, I'll add this to the readme.

[2015-05-25 19:45] PeterMosmans commented on #20
Added in fb786ae98487bfecd73a6b1c1aea074002538e27

[2015-05-25 19:45] #20 closed

[2015-06-11 05:55] DomT4 opened #22 "Make test fails on latest git revision"
I suspect this is technically an upstream failure rather than yours' but:

[code]

[code]

Full log can be seen [here](https://travis-ci.org/DomT4/homebrew-crypto/builds/66329687#L9682), for however long Travis retains it.

[2015-06-11 06:03] PeterMosmans commented on #22
Hi @DomT4 , thanks for opening an issue. Have you tried the 'same' version from the stock 1.0.2 branch OpenSSL_1_0_2-stable ? This is commit 57e477b9ec66542afc8c9c13ae7c4271209fb88f
It would be great if you could check that build as well - hopefully (?) the same error will occur.

Thanks in advance,

Peter

[2015-06-11 06:18] DomT4 commented on #22
Aye, the failure is there as well:

[code]

[2015-06-11 06:18] PeterMosmans commented on #22
I looked in the code, curious as I was, and I suspect that commit b6f33dce3b1ee563c0866654a9b5c44adc7b79b8 is the issue:
[code]
As far as I can tell there is no check whether $ssltest is being skipped (and returns 0) due to dhe512 not being allowed.

[2015-06-11 06:22] PeterMosmans commented on #22
You could try to run the tests with lines 175-185 in test/testssl commented out.
If everything succeeds - Will you take this 'upstream' ? I'd be much obliged :)

[code]

[2015-07-13 08:00] f-s opened #24 "Build fails von ARMv7"
Using your

<pre>
./config --prefix=/usr/ --openssldir=/etc/ssl enable-zlib enable-ssl2 enable-rc5 enable-rc2 \
enable-GOST enable-cms enable-md2 enable-mdc2 enable-ec enable-ec2m enable-ecdh enable-ecdsa \
enable-seed enable-camellia enable-idea enable-rfc3779 no-ec_nistp_64_gcc_128 \
-static experimental-jpake -DOPENSSL_USE_BUILD_DATE
</pre>

on Ubuntu 14.04 LTS (with libssl-dev, libsslcommon2-d

[2015-07-13 08:53] PeterMosmans commented on #24
@f-s , thanks for your report.
Which commit/branch are you using ? And which architecture (64 bit I presume) ?
The latest builds succeed on x86_64 platforms, see https://travis-ci.org/PeterMosmans/openssl
I'm going to look into it.

Cheers,

Peter

[2015-07-13 11:52] teward commented on #24
@PeterMosmans Based on https://github.com/drwetter/testssl.sh/issues/129 my guess would be ARM.  And based on "on Ubuntu 14.04 LTS" I'm also assuming that they're either crosscompiling or compiling on armhf (the only truly supported ARM variant of Ubuntu right now, which is for the ARMv7 and up instruction sets)

[2015-07-14 11:04] f-s commented on #24
@PeterMosmans @PeterMosmans I am using the `default` branch: `1.0.2-chacha` and I am doing a native armhf compile. Still issues are, as described in the first post. Thanks!

[2015-07-14 11:29] PeterMosmans commented on #24
Thanks for letting me know. This issue was supposedly fixed in df1bc348616234df551585bf84ccaa522226e249 in May 5, 2015. I' ll create a special arm branch for you to test.

[2015-07-14 12:04] PeterMosmans commented on #24
Could you try the arm branch ?
https://github.com/PeterMosmans/openssl/tree/arm

Thanks in advance,

Peter

[2015-07-14 18:53] haneefmubarak opened #25 "ChaCha20 not supported in enc"
`openssl enc` doesn't appear to support ChaCha20 for shell based stream encryption. Is it easily possible to add support for ChaCha20 to `openssl enc`?

[2015-07-14 19:18] PeterMosmans commented on #25
@haneefmubarak , excellent question. I'm going to look into it...

[2015-07-14 19:19] haneefmubarak commented on #25
damn that was a quick response - thanks @PeterMosmans!

[2015-07-17 07:05] f-s commented on #24
Hello Peter,

the Patch works fine, thank you!

Best regards!

[2015-07-17 07:05] #24 closed

[2015-07-17 07:18] drwetter commented on #24
@f-s If you like you can put the binary as PR into https://github.com/drwetter/testssl.sh/tree/master/bin . Naming scheme ist ```openssl.$(uname).$(uname -m)```.

[2015-07-20 10:21] PeterMosmans commented on #22
closed, as this is fixed now (test is commented out in this fork)

[2015-07-20 10:21] #22 closed

[2015-07-20 13:33] drwetter opened #26 "make report fails in SSLv3 cipher list order"
Hi Peter,

I wasn't able to get ``make report`` finishing without errors;

[code]

Any clue what's happening?

Thx, Dirk

[2015-07-20 14:05] PeterMosmans commented on #26
Hi @drwetter , I suspect this has something to do with the ordering of ciphers.
Check line 1567 of ssl/ssl_ciph.c, where CHACHA20-POLY1305 is explicitly being set as first (preferred) cipher.
[code]
But what's 0xff03 ? Are you using the ghost-enabled configure file ? I suspect one of those ciphers (which isn't expected)

[2015-07-20 15:11] drwetter commented on #26
Yes, I used ``-DTEMP_GOST_TLS`` which gives ``GOST-MD5`` + ``GOST-GOST94`` (``300ff00``, ``300ff01``) directly without engine , but not ``300ff03`` .

Ok, but how come then the test failed?

<ot> Despite using  ``-DTEMP_GOST_TLS``  ``300ff03` and  ``300ff02` are missing:
[code]

``ssl/s3_lib.c`` (line 3227) let me hope for those two more

[2015-07-20 15:24] DomT4 commented on #22
Argh, Sorry Peter. Apparently Thunderbird filtered this email notification somewhere other than my Github or Inbox folder. Happy to do any testing still required.

[2015-07-20 15:28] PeterMosmans commented on #26
can you try
[code]
If that fails - could you try the same with the official repo ?

[2015-07-20 15:34] PeterMosmans commented on #26
Aaah, I think I know what's happening... The SSL tests don't create a gost94 key, which is necessary for the GOST(94) ciphers. This is probably an upstream issue with **testing**, and it probably works, but the test script is borked. You could try creating a gost94 key to see if everything works correctly, with something like:

[code]

[2015-07-20 16:12] drwetter commented on #26
Am 07/20/2015 um 05:28 PM schrieb Peter Mosmans:

you seem right, see fopen call, but there's a bit I do not understand:

[code]
But I am still confused as those two are not the ones failed during the test -- that was
300ff03 = GOST-GOST89STREAM .

But:

[code]

What? ;-)

Cheers, Dirk

[2015-07-20 16:35] drwetter commented on #26
``openssl engine gost -vvvv -t -c`` lists

[code]

[2015-07-21 06:35] f-s commented on #24
@drwetter Hi, so I did.

[2015-07-21 08:03] drwetter commented on #24
thx again!

[2015-09-17 07:34] drwetter opened #28 "Failure with Cisco ACE Loadbalancer"
Hi Peter,

seems that under special conditions a handshake doesn't succeed, see https://github.com/drwetter/testssl.sh/issues/189 .

I tracked that down to the command

``echo Q | apps/openssl s_client -tls1_2 -cipher ALL:-AES256-SHA -connect NODEIP:443 -servername NODE 2>&1 | grep Cipher``

That fails with this fork (tried 1.0.2b through e) but succeeds with the vanilla 1.0.2d.

Any clues?

Dirk

[2015-09-17 08:32] PeterMosmans commented on #28
Hi Dirk, thanks for reporting.
I'll check into it -although this could take a while-

[2015-09-17 08:48] PeterMosmans commented on #28
OK, found the issue.
Cisco ASA's can't hande a handshake => 128 ciphers, and the 1.0.2-chacha fork has more than that, fortunately :smile:
I *know* for a fact that this issue has been reported to Cisco before, however I'm unaware of the current status. Please report this to Cisco (again), maybe that will help getting the issue fixed (faster)...

How to reproduce:
Run https://github.com/PeterMosman

[2015-09-17 08:55] RamsesRodenburg commented on #28
Hi Peter,

I assume you meant to say “Cisco ACEs”, not “Cisco ASAs” ?

Cheers! ☺
Ramses Rodenburg

IP systems engineer  |  ramses@info.nl<mailto:ramses@info.nl>  |  LinkedIn<http://linkedin.com/in/ramsesrodenburg>

info.nl    <http://www.info.nl> making platforms work<http://www.info.nl/nl?utm_source=e-mail_sig&utm_medium=e-mail&utm_term=connecting_the_dots&utm_campaign=info_sig>

Sint Antoniesbre

[2015-09-17 10:00] drwetter commented on #28
Thx, Peter.

On the first glance that looks like it's an explanation (remember the IIS6 thing?). However in the scenario it hiccuped at there were two handshakes in the following sequence:

1) ``echo Q | apps/openssl s_client -tls1_2 -cipher ALL -connect NODEIP:443 -servername NODE 2>&1 | grep Cipher``
2) ``echo Q | apps/openssl s_client -tls1_2 -cipher ALL:-AES256-SHA -connect NODEIP:443 -servern

[2015-09-17 10:10] PeterMosmans commented on #28
With regards to the first handshake - which cipher is actually being used ?
(don't forget that you have to filter out the non-TLS(1.2) ciphers. `openssl ciphers` only has `-ssl2`, `-ssl3`, and `-tls1` parameters).

[2015-09-17 12:54] PeterMosmans commented on #28
@drwetter check out `https://github.com/PeterMosmans/TLScan/blob/max/TLScan.py` -  I hacked in a --max flag to minimize the client hello size. Try
[code]
This will probably fail

Then try
[code]
This will probably succeed. The max field limits the size of the client hello. So I still think that's the issue, the size of the hello ( = number of ciphers)

[2015-09-17 13:52] drwetter commented on #28
Am 09/17/2015 um 12:10 PM schrieb Peter Mosmans:

see https://github.com/drwetter/testssl.sh/issues/189

Cheers, Dirk

[2015-09-19 12:22] drwetter commented on #28
Am 09/17/2015 um 10:48 AM schrieb Peter Mosmans:

Have you gotten my PM with the IP address? Your script stalls (<OT>
It needs a definition of TMP before.) Maybe you could try yourself?

Still I do not understand why a handshake with 148 ciphers work and with 147 not, pls see above.

Cheers, Dirk

[2015-09-19 12:38] drwetter commented on #28
Am 09/17/2015 um 02:54 PM schrieb Peter Mosmans:

prompt% TLScan.py -t HOST && echo OK
============================================
TLS/SSL Cipher Scanner
============================================
[i] No port specified, setting a default one (443)
[i] Processing target: HOST on port:  443...
===============- Protocols -================
[+] Supported encryption protocols:
    [e] The service doe

[2015-09-23 13:37] pbdname opened #29 "Installation instructions for FreeBSD"
I would like to suggest an improvement to instructions for compiling under FreeBSD (I used instructions in "INSTALL", as there are no specific instructions for FreeBSD).

The general procedure works, but one must use gmake ("devel/gmake" in FreeBSD ports tree) instead of (BSD default) make. So to build and install, one must run:

[code]

[2015-09-24 09:03] PeterMosmans commented on #29
Thanks for your suggestion, I'll update the INSTALL instructions (pull requests are welcome :wink:).

[2015-09-25 22:02] drwetter commented on #28
copied from  https://github.com/drwetter/testssl.sh/issues/189
-----
i Mark,

good that @PeterMosmans had that much patience with me ;-)

Bottom line: He's right. Cisco can't handle that many ciphers. So you ( @feld ) can try to yell at them, I will try to work around it. Don't know when though, other things have more priority. Probably this will be not fixed in 2.6 but in dev.

Thx all,

Dirk

[2015-09-25 22:02] #28 closed

[2015-09-25 22:04] drwetter opened #30 "CCM/CCM8 ciphers?"
Hi Peter,

any timeline for CCM ciphers? 1.1.0 lists 20 additional ones.

Cheers, Dirk

[2015-09-25 22:37] drwetter opened #31 "IPv6 support seems easy"
Hi Peter.,

there were several tries to get s_client and s_server fully(?) support Ipv6.

http://pkgs.fedoraproject.org/cgit/openssl.git/plain/openssl-1.0.2a-ipv6-apps.patch applies smoothly to your fork and I could connect e.g. to ipv6.google.com.

Cheers, Dirk

[2015-09-26 10:22] PeterMosmans commented on #31
Hi @drwetter , thanks for your request. The last time I tried a number of IPv6 patches for the openssl fork, and they all caused issues on the Windows platform. They weren't cross-platform compatible.
I'll look into the patch(es) again to see if they work and report back to you.

Cheers, Peter

[2015-09-26 12:30] drwetter commented on #31
Can't tell for Windows but FYI:

 Just did successfully on FreeBSD 9.3 a testssl.sh run (patch not yet committed) against ipv6.google.com -- with an older version of your tree and the FC IPv6 patch.

[2015-09-27 23:43] PeterMosmans commented on #31
Hi @drwetter , I rebased the Fedora patch and applied it to 1.0.2-chacha. Feel free to be adventurous with this build :smile: See 8858f0e58d7f0b9ed53f20b87b43392866cdcc87

Note that this is an experimental version, and it will *NOT* compile on all platforms. Therefore I won't merge this back into the 1.0.2-chacha branch yet.

[2015-09-30 11:33] drwetter commented on #31
Thx Peter!

Any clues why it fails on your platform? No chance for one PM fork ;-)

Anecdote: I patched the FC patch myself before. As the rejects / compile errors came through the change of ``--proxy``  I assumed after fixing those I could use even use an IPv6 proxy -- but I was wrong.

1st RFC is almost 20 years ago, see https://tools.ietf.org/html/rfc1883 .

[2015-10-02 07:23] PeterMosmans commented on #31
Hi @drwetter , did you try 8858f0e58d7f0b9ed53f20b87b43392866cdcc87 yet ?
IPv6 support is a tad more difficult for MSYS2, but I found some useful pointers. Unfortunately this means IFDEFfing a number of statements... there is no clear IPv6 solution that compiles cleanly across all platforms.

Stay tuned!

Peter

[2015-10-02 08:03] drwetter commented on #31
Hi @PeterMosmans,

to be honest: not yet. Any difference to the FC patch plus the fixes necessary because of the changes of the proxy option in SSL?

The whole history of IPv6 in OpenSSL is sad. LibreSSL seems more advanced -- no wonder networking is higher valued of BSD folks. They do other things  different though.

BTW: Also an IPv6 proxy works there.

Have only looked into the Linux/BSD tar ba

[2015-10-12 06:25] PeterMosmans commented on #30
So, I looked around at the ciphers and newly added code. Theoretically I could 'backport' the CCM ciphers from the master branch into the 1.0.2-chacha branch. However, this means that these ciphers won't get updates automatically, and will make the merging process more difficult.
I could also apply the custom patches from 1.0.2-chacha to the master branch, and keep that version up to date.

Not su

[2015-10-12 07:45] drwetter commented on #30
Hi @PeterMosmans,

thx for looking into it! Yes, you're right. This is a more a strategic question, I guess.

In the long run probably a 1.1.0 chacha-pm branch would be the best (I see 1.1.dev doesn't contain the chacha/poly ciphers).

BTW: Just out of curiosity I ran openssl 1.1 against a few site with testssl.sh -- also it would require some work for testssl.sh. And -- attention sarcasm -- of co

[2015-10-24 20:18] haneefmubarak commented on #25
@PeterMosmans did you ever find out?

[2015-10-27 13:07] PeterMosmans commented on #25
Sorry @haneefmubarak , the response was faster than the actual research :smile:
It's still on my todo list, please hang in there...

[2015-10-27 13:25] drwetter commented on #25
Hi @haneefmubarak,

just curious: for what do you need this? I know what enc is for but just wondering why Peter should include this? Can't speak for all users here but I thought most folks use s_client or maybe s_server.

(Hint: LibreSSL does have ``enc -chacha``.)

Cheers, Dirk

[2016-01-25 19:21] nabla-c0d3 opened #34 "Visual Studio build error - e_chacha20poly1305.c"
Hi, I'd like to use your fork of OpenSSL for an SSL scanner I'm working on, but I'm getting a build error when targeting Windows 32 bits with Visual Studio (for 1.0.2-chacha):

    Configuring for VC-WIN32
        no-asm          [option]   OPENSSL_NO_ASM
        no-ec_nistp_64_gcc_128 [default]  OPENSSL_NO_EC_NISTP_64_GCC_128 (skip dir)
        no-gmp          [default]  OPENSSL_NO_GMP (skip dir)

[2016-01-25 22:45] PeterMosmans commented on #34
Hi @nabla-c0d3 , are you using the most recent version ? There was a change around a week ago (?) which improved the build process for VS ?

[2016-01-25 22:59] nabla-c0d3 commented on #34
Yes I did; the line causing the problem is this one: https://github.com/PeterMosmans/openssl/blob/1.0.2-chacha/crypto/evp/e_chacha20poly1305.c#L51
For various reasons I have to use Visual Studio 9.0, which doesn't have stdint.h (it was added to VS 10.0). However, the official OpenSSL 1.0.2 builds fine with it.
Thanks!

[2016-01-25 23:06] PeterMosmans commented on #34
Could you check whether you can compile with either a 'standard' stdint.h (see e.g. http://msinttypes.googlecode.com/svn/trunk/stdint.h ), or monkey-patch the offending lines like this ?
These are probably the only types necessary...

#if (_MSC_VER == 1500)
typedef __int32 int32_t;
typedef unsigned __int32 uint32_t;
typedef __int64 int64_t;
typedef unsigned __int64 uint64_t;
#else
#include <stdint

[2016-01-26 00:54] nabla-c0d3 commented on #34
I got 32 bits builds to work (and will open a pull request) but it's still failing for Windows 64 bits:

    Building OpenSSL
            perl .\util\copy-if-different.pl ".\crypto\buildinf.h" "tmp32\buildinf.h"
    Copying: ./crypto/buildinf.h to tmp32/buildinf.h
            perl .\util\copy-if-different.pl ".\crypto\opensslconf.h" "inc32\openssl\opensslconf.h"
    NOT copying: ./crypto/opensslco

[2016-01-26 01:24] PeterMosmans commented on #34
Hmm, the current ChaCha implementation needs either ARM neon or SSE2 extensions. On what type of (processor) architecture are you building ? SSE2 should be 'fairly common' since 2003 ?

[2016-01-26 02:38] nabla-c0d3 commented on #34
The usual Windows 7 64 bits VM. I think the giant #if / #else in this file is just wrong or missing a case for win64?

[2016-01-26 02:39] nabla-c0d3 commented on #34
I looked at what's on the OpenSSL 1.1.0 branch but that file is gone there.

[2016-01-26 02:42] PeterMosmans commented on #34
Yeah, that's the reason this fork is created :wink: - Weird, as it compiles perfect on Windows/MSYS , and with newer Visual Studios. I'll look into it later this week, thanks for troubleshooting so far

[2016-01-26 13:48] PeterMosmans commented on #34
Issue closed for x86, still open for x64

[2016-02-05 12:23] wolfbeast opened #36 "Add Camellia ECDHE in GCM ciphers"
Please consider adding Camellia in GCM with ECDHE/RSA and ECDHE/ECDSA.
This would add a secure and practically fast cipher to the available suites.

If you need hints, you can look at my client-side implementation in my (forked) NSS for Pale Moon:
https://github.com/MoonchildProductions/Pale-Moon/blob/master/security/patches/Add-Camellia-GCM-patch.diff

[2016-03-12 10:08] nabla-c0d3 opened #37 "Various errors on Win32 and Win64"
Hi,
I am using this OpenSSL fork compiled with VS 2009 in my own tool, and it is causing various errors (  https://github.com/nabla-c0d3/sslyze/issues/139, https://github.com/nabla-c0d3/sslyze/issues/129 ) that we are not getting with the official OpenSSL. Unfortunately I don't have time to troubleshoot these, but I would perhaps add a mention in the README that the fork does not work well as a re

[2016-03-13 20:47] PeterMosmans commented on #37
Thanks for reporting. Picking this up

[2016-03-26 18:25] nabla-c0d3 commented on #37
Closing this as it was due to something on my side. Sorry for the false report!

[2016-03-26 18:25] #37 closed

[2016-03-28 21:22] drwetter opened #38 "New ChaCha/Poly ciphers"
Hi Peter,

there is a set of new chacha/poly ciphers like cca8, cca9, see

https://mta.openssl.org/pipermail/openssl-commits/2015-December/002380.html

Is that possible to have them integrated into this branch and renaming the old ones like https://www.ssllabs.com/ssltest/analyze.html?d=google.de&s=172.217.2.35 ?

Cheers, Dirk

[2016-03-29 06:39] PeterMosmans commented on #38
Hi Dirk,

I'll look into it, whether it's feasible with 1.0.2 or that 'restarting' openssl from master (1.1.x) makes more sense at this point.
Thanks for the request.

Cheers,

Peter

[2016-05-23 23:23] teward opened #40 "Compile failure with latest commits which restore EC curves, Ubuntu 14.04 x86_64"
Compile failure, Ubuntu 14.04 x86_64.  Tested the commits which you said would fix https://github.com/drwetter/testssl.sh/issues/299 and it fails to compile.

Using the instructions for compiling at https://github.com/drwetter/testssl.sh/blob/master/bin/Readme.md to get a reproducible build (with Kerberos) of the static-compiled versions from drwetter, because I like compiling stuff locally to avo

[2016-05-23 23:27] teward commented on #40
This worked, I believe, before the latest set of commits for the ECDHE-RSA-RC4-SHA changes and the curves changes.

[2016-05-23 23:36] PeterMosmans commented on #40
@teward , thanks for the headsup. ravis also warned me about broken builds. Please check the latest one, which should fix this. My bad - forgot to commit the complete file.

[2016-05-23 23:38] teward commented on #40
@PeterMosmans I'll pull shortly, got to restart my DNS server which apparently hates me every fifty thousand requests, then I'll build.  This report made was more-or-less to link to the issue on drwetter's testssl.sh script, but also to make sure there's an issue made on this in case someone comes around wanting to report ;)  (Rapid-reporting has its advantages and disadvantages)

[2016-05-23 23:45] teward commented on #40
@PeterMosmans Compile succeeded with the fix, apologies for being extremely rapid on reporting this, but since this was a blocking bug for testssl.sh's release, wanted to make sure it was reported.

Thanks again for a rapid fix!

[2016-05-23 23:45] #40 closed

[2016-05-24 00:07] PeterMosmans commented on #40
No worries, I'd rather hear bugs twice than never :smile: Thank you for reporting.

[2016-06-02 17:16] drwetter opened #42 "Support for curve25519 and curve448, RFC 7748"
Hi Peter,

just a marker for this two curves as e.g. Windows 2016 seems to support at curve25519 (https://github.com/ssllabs/ssllabs-scan/issues/348)

At least the djb curve seems to in openssl 1.1.0 though.

IDs: http://www.iana.org/assignments/tls-parameters/tls-parameters.xhtml#tls-parameters-8

I assume a backport is not doable that easy?

Cheers, Dirk

[2016-06-03 05:35] PeterMosmans commented on #42
Hi @drwetter , thanks for the note. I'm going to check / verify the 'latest' (read: 1.1) ciphers shortly, but I'm afraid that backporting won't be an (easy) option....

[2016-06-13 13:15] drwetter opened #43 "Conflict of cipher names"
Hi Peter,

as stated in https://github.com/drwetter/testssl.sh/issues/379 the names of the new CHACHA/POLY ciphers conflict with the old ones.

This IMO needs to be addressed in the current branch, too.. To shorten matters for me, enclosed is my suggestion.
[new-ciphers.diff.txt](https://github.com/PeterMosmans/openssl/files/311846/new-ciphers.diff.txt)

Here I would prefer _OLD, as A) I read it s

[2016-06-13 13:21] drwetter commented on #43
Ahh, I think it was SSLlabs:

https://dev.ssllabs.com/ssltest/analyze.html?d=google.com&s=172.217.4.110&hideResults=on

However that was in front of the name, don't know whether there was a reason but it's quite ugly IMO.

[2016-06-13 13:58] drwetter commented on #43
(but they have a leading OLD_ and it's in the RFC name, I'll try to clarify)

[2016-06-14 09:54] PeterMosmans commented on #43
@drwetter - thanks for the req (feel free to send in pull requests :smile: ).
However, to keep in line with SSLabs I'd suggest we go with 'their' naming of OLD_ .. - what would you say of that ? Better to have all names in line, to prevent even *more* confusion...

[2016-06-14 12:14] drwetter commented on #43
Ivan replied https://twitter.com/ivanristic/status/742445496061546497. So there's no naming standard also according to him.

yeah, I am busy these days. Will do a PR...

[2016-06-15 00:07] PeterMosmans commented on #43
Fixed slightly different, according to Ivan Ristic' naming:

  "OLD-ECDHE-RSA-CHACHA20-POLY1305"
  "OLD-ECDHE-ECDSA-CHACHA20-POLY1305"
  "OLD-DHE-RSA-CHACHA20-POLY1305"

[2016-06-15 18:00] drwetter commented on #43
Hi Peter,

Ivan uses the RFC/IANA naming scheme and not OpenSSL. So what we is being done here, is independent of Ivan. Can't tell whether the preceding ``OLD_`` works with openssl. Can't you check? (I do not understand the magic here in openssl yet)

Then: The diff I proposed contained ``WITH`` for ``TLS_CK*`` macros, to be consistent with the other (newer) ciphers in ``ssl/tls1.h`` +  ``ssl/s3_l

[2016-06-15 23:13] v998 commented on #43
Let's see..

CloudFlare's chacha20 [patch](https://github.com/cloudflare/sslconfig/blob/master/patches/openssl__chacha20_poly1305_draft_and_rfc_ossl102g.patch):
[code]

[LibreSSL](https://github.com/libressl-portable/openbsd/blob/master/src/lib/libssl/src/ssl/tls1.h):
[code]

[BoringSSL](https://boringssl.googlesource.com/boringssl/+/master/include/openssl/tls1.h):
[code]

[2016-06-16 00:49] PeterMosmans commented on #43
Thanks @v998 for looking that up, much appreciated ! I'll go with the -OLD suffix then, and change it accordingly. @drwetter I'll take a look at your macro changes as well

[2016-06-16 05:46] drwetter commented on #43
Hi Peter,

I'd would go with LibreSSL (BoringSSL is the mess we have). That would look like:

https://github.com/drwetter/testssl.sh/issues/379#issuecomment-226295810

Left hand side: OpenSSL (my diff = LibreSSL), right hand side patched according to @ivanr naming.

Cheers, Dirk

[2016-06-17 05:03] #43 closed

[2016-06-24 05:44] irakhlin commented on #34
Hello Peter,

Have you made any headway on the x64 build? I am still getting this issue with both VS2012 and VS2015. I have no issue building x86 but the x64 build will fail.

[2016-06-24 05:59] PeterMosmans commented on #34
Hi @irakhlin - openssl-1.0.2 compiles successfully on msys2 / mingw(64) on Windows. Today I added continuous integation using Appveyor to check other platforms (VS2012 / 2015 / ...) - see https://ci.appveyor.com/project/PeterMosmans/openssl/build/1.0.2

So now I can finally reproduce your issues.. stay tuned !

[2016-06-24 10:43] irakhlin commented on #34
Thank you for the prompt reply! I can indeed build x86/x64 versions using both msys2 and mingw64 without any issue. I am building with VS2012/2015 because I am hoping to use the built library files to link for http://tomcat.apache.org/native-doc (tomcat-native) to run in a windows native version of tomcat. I have been able to do this thus far with Linux x86/x64 and windows x86. The result seems to

[2016-06-29 04:56] PeterMosmans commented on #34
Ouch, the MSVS compiler doesn't support the `__attribute__` syntax. I fiddled around, but this isn't easy to rewrite. Allow me some more time to look further into it..

[2016-07-11 09:47] johndekroon opened #44 "..."
... [sorry]

[2016-07-11 09:49] #44 closed

[2016-09-14 23:01] PeterMosmans opened #46 "PSK issue"
See https://github.com/openssl/openssl/issues/1566 and https://github.com/drwetter/testssl.sh/issues/470

[2016-09-23 06:25] splitice opened #47 "Shared Library OpenSSL building fails"
Commands:
[code]

Results in:
[code]

[2016-09-23 11:18] PeterMosmans commented on #47
Hi - as the compiling succeeds on all continuous integration tests: could you please let me know the commands you're using, the platform and compiler ? Thanks !

[2016-09-23 11:22] splitice commented on #47
I am compiling on 64bit against a 32bit architecture. The build system handle the architecture side (nothing changed on our end since our last build, just a fresh clone).

Does this work for you?
[code]

[2016-09-23 11:25] PeterMosmans commented on #47
Did you try the regular `make clean; make dclean; ./Configure shared` && make depend && make && make report ?

[2016-09-23 11:48] splitice commented on #47
Ok, I found the issue.

```make clean; make dclean``` aren't cleaning everything up. From a fresh checkout it works. If I repeat it doesnt. I managed to get this with the same architecture previously, but this more closely represents a the build process.

[code]

I'll put a ```git clean -d -x -f```` for now between runs.

[2016-09-23 11:58] PeterMosmans commented on #47
Thanks for letting me know. Yeah, unfortunately that happens with more projects, build artefacts that aren' properly cleaned and, erm, stuff things up.

Closing the issue

[2016-09-23 11:58] #47 closed

[2017-01-09 20:03] drwetter commented on #38
@PeterMosmans : Have you looked into it? Other than moving away conflicts with the old CHACHA/POLY ciphers it "just" seems to me a few hours of work.

I would love to do this but atm I still have a queue of things I need to work on.

[2017-01-10 11:01] PeterMosmans commented on #38
Hi @drwetter it's still on the TODO list, but, similar to you, there's quite a large queue. Let me know if you want to/have time for this issue. If not, I'll try to finish it as soon as a slot opens up :wink:

Cheers,

Peter

[2017-01-20 15:59] drwetter commented on #38
For the record so that it is easier to find the info if somebody will start working on it, see

* https://github.com/cloudflare/sslconfig/tree/master/patches (@jvehent 's hint)
* see attached the RFC version from openssl.
[chacha-poly.patch.txt](https://github.com/PeterMosmans/openssl/files/719816/chacha-poly.patch.txt)

[2017-03-29 18:26] dcooper16 opened #48 "s_client exits after establishing connection"
Hi Peter,

I was trying to use your 1.0.2-chacha branch with testssl.sh, but it wasn't working for tests that require s_client to keep the connection open after establishing it. For example:
[code]

I tried to find the source of the problem, and it seems to be the commit made on December 8, 2016, "[Add Postgres support to s_client -starttls](https://github.com/PeterMosmans/openssl/commit/6191e6ba1

[2017-03-30 00:59] PeterMosmans commented on #48
Hi David,

Thanks for the feedback, that looks like a superfuous break indeed. I'm going to fix that one, and run some tests before deploying.

Should you have any other bugreports, keep 'em coming :wink:

Cheers,

Peter

[2017-03-30 01:18] #48 closed

[2017-05-11 12:16] drwetter opened #49 "Proxy Option"
Hi Peter,

maybe it's time to backport the proxy option from 1.1. The current ``apps/s_client.c`` does a CONNECT <H:P> HTTP/0.9. Newer openssl versions (1.1) seems to use 1.0:

OLD (from ``apps/s_client.c``)
[code]

New:
[code]

In one environment I have an outbound squid proxy which doesn't seem to accept 0.9. See also https://github.com/drwetter/testssl.sh/issues/741 and https://github.com/drwet

[2017-05-12 05:54] drwetter commented on #49
merged, see e90b60086e4ed9649cb3aab08f2b4c6529e7a95a

[2017-05-12 05:54] #49 closed

[2017-06-26 00:54] blshkv opened #51 "Give a unique name so it can be installed into a system dir"
Currently, this fork has no unique name and ```make install``` (in short) will overwrite the original openssl library. That means that any (mostly security) tools have to compile statically or provide precompile libraries of this fork and it gives a lot of complications.

There are two tools at least which switched to this fork, see
https://github.com/rbsec/sslscan/issues/126
https://github.com/na

[2017-06-26 04:16] PeterMosmans commented on #51
Hi @blshkv , thanks for the feedback. One can use `--prefix` and `--openssldir` to install it in different locations; see also https://wiki.openssl.org/index.php/Compilation_and_Installation#PREFIX_and_OPENSSLDIR

Would that work ?

I'm a bit hesitant to change the naming and would like to keep the fork as "vanilla" as possible.

[2017-06-26 08:58] blshkv commented on #51
No, I dont think it can help. I was talking more about shared ```lib{crypto,ssl}``` libraries installed into ```/usr/lib/lib{crypto,ssl}.so-<version>``` . Additionally, sslscan/sslyze should be able to find *this* version using standard ```-lcrypto``` (defined in libcrypto.pc). Alternatively, you can probably define a unique ```<version>```?

[2017-06-29 17:35] drwetter commented on #51
Hi Peter,

if I may add my 2 cents: What makes it difficult for me is that github seems to assume unique "names". It's harder for me to submit a patch to vanilla openssl if I have a fork from your branch with the same "name". I put that in quotes as I renamed my fork from your branch already but e.g. when I edit with a browser something in the official repo I am working on my fork of your fork.

T

[2017-06-29 22:49] PeterMosmans commented on #51
Hi @drwetter that sounds like something different: naming of the repository / fork :wink:
To prevent naming issues in git, I created a new _branch_, `1.0.2-chacha`. @blshkv asks to rename/renumber the *binary* and its libraries.

@drwetter do you think testssl.sh / you will run into issues if I would change the *versioning* for the binary and its libraries ? So the binary would still be named open

[2017-06-30 06:21] drwetter commented on #51
On 06/30/2017 12:49 AM, Peter Mosmans wrote:

yes, after writing my comment and before I went to bed I realized that it was some
completely different (..) ;-)

Thx for asking, Peter. Not at all. The binaries testssl.sh is using an I am providing
(Linux and FreeBSD) are statically linked.

I can't tell for sure how it is for MacOS X. Inspecting the Mac OS X binary under
FreeBSD however give me the

[2017-08-05 03:37] blshkv commented on #51
I think ideally, it would be good to have a new ```-lcrypto-chacha``` name
so it could be installed as a system library and it would be possible to patch other tools

[2017-10-31 11:31] drwetter commented on #46
Hi Peter,

Just doing some cleanups on my side. Is that still open, Peter? (cc @Iansus )

[2017-11-01 06:14] PeterMosmans commented on #46
Still open @drwetter :wink: - thanks for the tickle

[2017-11-02 05:08] blshkv commented on #51
yet another tool requires this fork:
https://github.com/mozilla/cipherscan

[2017-11-02 10:53] PeterMosmans commented on #51
Hi @blshkv - Thanks for the update :wink: - This is still on my TODO list, to research the implications further (and, depending the results, implement this).

Thanks for your patience, cheers.

Peter

[2017-11-03 04:28] PeterMosmans opened #53 "Update / merge source to / with 1.0.2m"
Update the source with the latest 1.0.2 release (currently 1.0.2m).

[2018-02-01 18:31] mitraed opened #54 "iterations ? pbkdf2"
hi !
ive installed this, thank you for the effort into this.
on this link its said this repo would enable me to use pbkdf2 and iterations via command line but i cant find it..
is it still supported here ? if yes id be happy for some guidance .

https://www.onwebsecurity.com/configuration/openssl-the-ansible-vault-using-pbkdf2.html
openssl enc -pbkdf2 -pass pass:password -S 73616c74 -md sha256 -c 1

[2018-02-02 15:07] PeterMosmans commented on #54
Hi @mitraed - thanks, no problem ;)
Yes, it is still supported. Please check out the `enc-pbkdf` branch, and be aware that it's based on an (old) 1.0.2 branch. Having said that, it should still work ;)

Good luck,

Peter

[2018-02-02 15:07] PeterMosmans commented on #53
Superseded by efforts to re-branch on master

[2018-02-02 15:07] #53 closed, assigned to PeterMosmans

[2018-09-14 18:18] drwetter commented on #38
@PeterMosmans is there a patch at least I can reverse the old ciphers or is https://github.com/PeterMosmans/openssl/files/719816/chacha-poly.patch.txt all I need?

[2018-09-15 04:01] PeterMosmans commented on #38
Hi @drwetter - I went through the logs, but unfortunately the ChaCha implementation is spread out across a number of commits. I don't have the exact commits handy. You might want to try filtering on committer (aka me ;) - , maybe that helps?

[2018-12-18 19:33] slayerulan opened #55 "How can i build it as dev?"
Hello,
I want to build cURL with it but i couldnt figure out it. Current openssl have install_dev option but this repo doesnt have it.

How can i build it as openssl-dev so that i can build cURL with it?
Thanks

[2019-01-06 17:06] PeterMosmans commented on #55
Hi,

Thanks for letting me know, I'll check the differences between the makefiles. It should be trivial, as you can use this version perfectly to build cURL with.

[2019-02-21 14:34] drwetter commented on #28
Hey Peter,

was that limit for ACE @ 128 ciphers where the problem occurs or over 128 ciphers?

Yes, I can read an know what ``>=`` means but I otherwise need to do a workaround for one cipher. And I couldn't find other reliable info.

Cheers, Dirk

[2019-02-21 18:27] PeterMosmans commented on #28
Hi Dirk,

The problem occurs 'instantly' with 128 ciphers (and above, of course). I haven't tested recently with the latest ACE firmware version though...

Cheers,

Peter

[2019-02-22 07:29] drwetter commented on #28
thx!